* {
  padding: 0;
  margin: 0;
}

body {
  color: #293651;
}

.direita {
  display: inline-block;
  font-size: 22px;
  margin-left: 230px;
}

.cabecalho {
  margin-left: 570px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 50;
}

.cabecalho > li {
  display: inline-block;
  margin-left: 90px;
  margin-top: 13px;
  font-size: 22px;
}

.nome {
  font-size: 60px;
  font-weight: 900;
  color: #293651;
  margin-bottom: 5px;
  margin-top: 18px;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 5px;
}

.borda {
  background-color: salmon;
  border-radius: 7px;
  padding: 2px 0;
  width: 32%;
  margin-top: -3px;
  margin-bottom: 2px;
  margin-left: 650px;
}

.profissao {
  font-size: 25px;
  font-weight: 200;
  color: #293651;
  margin-bottom: 60px;
  margin-top: 100px;
  margin-left: 230px;
}

.icones {
  list-style: none;
  display: inline-block;
  border: 2px solid salmon;
  border-radius: 30px;
  margin-left: 90px;
  position: relative;
  top: 10px;
}

li > img {
  margin-top: 15px;
  list-style: none;
}

.intro {
  font-size: 20px;
  text-align: justify;
  display: inline-block;
  margin-left: 70px;
  letter-spacing: 2.4pt;
  word-spacing: -0.8pt;
  line-height: 2.2;
  width: 600px;
}

.img_pri > img {
  width: 900px;
  height: 900px;
  display: inline-block;
  margin-left: 900px;
  margin-top: -610px;
}

.fundo {
  background-color: #ebebeb;
  height: 820px;
}

.borda-inf {
  background-color: salmon;
  border-radius: 7px;
  padding: 2px 0;
  width: 63%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.barras {
  display: inline-block;
  margin-left: 950px;
  margin-top: 200px;
  font-size: 20px;
  letter-spacing: 2.4pt;
  word-spacing: -0.8pt;
  line-height: 2.2;
  padding: 20px;
  margin-right: 200px;
  text-align: justify;
}
.barras > h1 {
  margin-top: -50px;
  margin-bottom: -10px;
  font-weight: 400;
}

progress {
  width: 80%;
  accent-color: salmon;
  height: 20px;
  /* border-radius: 10px; */
}

.porcentagem {
  margin-left: 500px;
  margin-top: -50px;
}

.barras > h3 {
  margin-bottom: -20px;
  font-weight: 300;
}

.img_segunda > img {
  display: inline-block;
  width: 750px;
  height: 750px;
  margin-left: 200px;
  margin-top: -680px;
}

.borda-bio {
  background-color: #293651;
  padding: 2px 0;
  width: 78%;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: 230px;
  height: 4px;
}

.campo-servico {
  column-count: 2;
  margin-left: 215px;
  margin-top: 100px;
  display: inline-block;
}

.bloco > img {
  width: 80px;
  height: 80px;
  margin-left: 50px;
  margin-top: 10px;
}

.bloco > h4 {
  font-size: 21px;
  font-weight: 550;
  text-align: center;
  margin-top: 15px;
}

.bloco:hover > h4 {
  color: 293651;
}

.bloco > p {
  font-size: 20px;
  text-align: justify;
  margin-right: 50px;
  margin-bottom: 35px;
  margin-left: 75px;
  margin-top: 5px;
}

.bloco {
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
  width: 345px;
  height: 305px;
}

.bloco:hover {
  background-color: salmon;
}

.fundo-2 {
  background-color: #ebebeb;
}

.linha-tempo {
  display: inline-block;
  vertical-align: top;
  margin-top: 180px;
  margin-left: 50px;
}

.coluna {
  display: inline-block;
  width: 375px;
  vertical-align: middle;
  text-align: justify;
  margin-bottom: 40px;
}

.linha > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.borda-exp {
  background-color: salmon;
  border-radius: 7px;
  padding: 2px 0;
  width: 32%;
  margin-top: -18px;
  margin-bottom: 15px;
  margin-left: 250px;
}

.linha > h2 {
  width: 250px;
  background-color: #5db390;
  margin-left: 20px;
}

.linha > p {
  font-size: 16px;
  width: 400px;
  letter-spacing: 0.9pt;
  word-spacing: -0.8pt;
  line-height: 1.2;
  margin-right: 20px;
  margin-left: 20px;
}

.contato {
  text-align: center;
  display: inline-block;
  background-color: #5db390;
  border-radius: 5px;
  width: 700px;
  margin-top: 15px;
}

.contato > h2 {
  font-size: 25px;
  text-align: center;
  margin-left: 220px;
}

.contato > ul > li {
  list-style: none;
  font-size: 20px;
}

/* ----------MEDIA QUERIES------------- */

/* ---MENU--- */
@media (max-width: 576px) {

*{ 
  margin: 0%;
}
  body {
    position: absolute;
  }

  .direita {
    display: inline-block;
    font-size: 0.8rem;
    margin-left: 4%;
    margin-top: 2%;
  }

  .cabecalho {
    margin-left: 1%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    text-align: end;
  }

  .cabecalho > li {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 0.8rem;
  }

  .nome {
    font-size: 2rem;
    font-weight: 900;
    color: #293651;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-top: 2%;
    text-align: left;
    letter-spacing: 5px;
  }

  .borda {
    background-color: salmon;
    border-radius: 7px;
    padding: 2px 0;
    width: 30%;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 5%;
  }

  .profissao {
    font-size: 1rem;
    font-weight: 200;
    color: #293651;
    margin-bottom: 5%;
    margin-left: 16%;
    margin-top: 3%;
  }

  .icones {
    list-style: none;
    display: inline-block;
    border: none;
    border-radius: 30px;
    margin-left: 2%;
    position: absolute;
    top: 9.5%;
    left: 3%;
  }

  li > img {
    margin-top: 2%;
    width: 70%;
    height: 70%;
    list-style: none;
  }

  .img_pri > img {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: 15%;
    margin-top: 0%;
  }

  .intro {
    font-size: 1.2rem;
    text-align: justify;
    display: inline-block;
    margin-left: 20%;
    margin-top: -5%;
    letter-spacing: 1.5pt;
    word-spacing: -0.9pt;
    line-height: 2;
    width: 70%;
    margin-bottom: 3%;
  }

  .borda-bio {
    background-color: #293651;
    padding: 2px 0;
    width: 30%;
    height: 4px;
    margin-left: 35%;
    margin-top: -0.5%;
  }

  .fundo {
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
  }

  .img_segunda > img {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: 10%;
    margin-top: 0%;
  }

  .barras {
    display: inline-block;
    letter-spacing: 2.4pt;
    word-spacing: -0.8pt;
    line-height: 2.2;
    text-align: justify;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 0%;
    width: 70%;
  }

  .borda-inf {
    background-color: salmon;
    border-radius: 7px;
    padding: 2px 0;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .barras > h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  progress {
    width: 100%;
    accent-color: salmon;
    height: 20px;
  }

  .porcentagem {
    margin-left: 75%;
  }

  .barras > h3 {
    margin-top: 3%;
    font-weight: 300;
  }

  .campo-servico {
    column-count: 1;
    margin-left: 20%;
    margin-top: 3%;
    display: inline-block;
  }

  .bloco {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 70%;
  }

  .bloco > img {
    width: 25%;
    height: 25%;
    margin-left: 15%;
    margin-top: 5%;
  }

  .bloco > h4 {
    font-size: 1.5rem;
    font-weight: 550;
    text-align: center;
    margin-top: 5%;
  }

  .bloco:hover > h4 {
    color: #293651;
  }

  .bloco > p {
    font-size: 1rem;
    text-align: justify;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top: 3%;
  }

  .bloco:hover {
    background-color: salmon;
  }

  .fundo-2 {
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
  }

  .linha-tempo {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
  }

  .coluna {
    display: inline-block;
    vertical-align: middle;
    text-align: justify;

  }

  .linha > h1 {
    text-align: left;
    margin-top: -50%;
    margin-bottom: 4%;
    margin-left: 12%;
    font-weight: 400;
  }

  .borda-exp {
    background-color: salmon;
    border-radius: 7px;
    padding: 2px 0;
    width: 40%;
    margin-bottom: 8%;
    margin-left: 15%;
  }

  .linha > h2 {
    width: 15%;
    background-color: #5db390;
    margin-left: 2%;
  }

  .linha > p {
    font-size: 16px;
    width: 45%;
    letter-spacing: 0.6pt;
    word-spacing: -0.3pt;
    line-height: 1.2;
    margin-right: 20px;
    margin-left: 20px;
  }

  .contato {
    display: inline-block;
    background-color: #5db390;
    border-radius: 5px;
    width: 85%;
    margin-top: -5%;
    margin-left: 0%;
  }

  .contato > h2 {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 40%;
  }

  .contato > ul > li {
    list-style: none;
    font-size: 1rem;
  }

}
